body {
    background: #f9f9f9;
}

#wrapper {
    padding: 90px 15px;
}


.header-top {
    box-shadow: 0 3px 5px rgba(0, 0, 0, .1)
}

.leftmenutrigger {
    display: none
}

@media(min-width:992px) {
    
    #wrapper {
        padding: 90px 15px 15px 15px;
    }
    
}
